.titre{ 
    background-color: #A2D9CE	;
    text-align: center;
}

.paragraphe{
    top:60%;
}

img {
    border-radius: 30px;
}
.test{
    overflow: visible;
}
.infoClick{
    width:20%;
    border-radius: 30px;
    background-color: #A2D9CE	;
    margin : 2px;
    color:black;
    text-align: center;
}

.capacite{
    margin:10px;
    color:white;
    background-color: #212529;
}

.card{
    margin-bottom:2%;
}


.description{
    margin : 3px;
    border-radius: 30px;
    border:solid 1px lightslategray;
    background-color: white;
    text-align: center;
}

.histoire{
    text-transform: uppercase;
    border: solid white 3px;
    border-radius: 30px;
    background-color: #A2D9CE;
    color:#044879;
    padding: 10%;
}
